#one{
    color: cornflowerblue;

}
#two{
    color: goldenrod;
}
#three{
    color: indigo;
}
#four{
    color: green;
}
#five{
    color:  red;
}
#lunch{
color: black;
text-orientation: sideways-right;
}
#swa{
color: red;
}